In [1]:
print ("Hola Mundo, esta es mi primera incursión en Phython")

Hola Mundo, esta es mi primera incursión en Phython

In [2]:
mi_nombre = ("Micaela")
mi_edad= 24
mis_actividades_favoritas= ("leer,hacer jardineria, escuchar música")
pregunta_mascota= ("tengo un gatito como mascota")

In [3]:
print (mi_nombre)
print (mi_edad)
print (mis_actividades_favoritas)
print (pregunta_mascota)

Micaela
24
leer,hacer jardineria, escuchar música
tengo un gatito como mascota

In [4]:
type(mi_nombre)

str

In [5]:
type(mi_edad)

int

In [6]:
type(mis_actividades_favoritas)

str

In [7]:
type(pregunta_mascota)

str

In [8]:
print (f"Mi nombre es {mi_nombre}, tengo {mi_edad} años, en mis tiempos libres me gusta {mis_actividades_favoritas} y además {pregunta_mascota}")

Mi nombre es Micaela, tengo 24 años, en mis tiempos libres me gusta leer,hacer jardineria, escuchar música y además tengo un gatito como mascota

In [9]:
print('Estaba la pájara pinta sentada en el verde limón)

SyntaxError: EOL while scanning string literal (<ipython-input-9-d2445c7a277d>, line 1)

In [10]:
#Existe un error de sintaxis en el código anterior ya que no se coloco la comilla al final de la cadena
print('Estaba la pájara pinta sentada en el verde limón')

Estaba la pájara pinta sentada en el verde limón

In [11]:
print('Mi nombre es' name 'y tengo' edad, 'años')

SyntaxError: invalid syntax (<ipython-input-11-d4c6d8abefec>, line 1)

In [12]:
# El error reside en que hay elementos fuera de las comillas y no es la forma correcta de invocar variables
print(f'Mi nombre es {mi_nombre} y tengo {mi_edad} años')

Mi nombre es Micaela y tengo 24 años

In [13]:
import padnas as pd
import nunnpy as np

ModuleNotFoundError: No module named 'padnas'

In [14]:
# En el caso anterior el print devuelve error ya que no existen módulos con ese nombre
import pandas as pd
import numpy as np

In [15]:
print ("Ornitorrinco" + 45)

TypeError: can only concatenate str (not "int") to str

In [16]:
#El error de este código es que se puede concantenar unicamente string con string
print ("Ornitorrinco" + "45")

Ornitorrinco45

In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('flights.csv')

In [5]:
df.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [6]:
df.tail()

     year      month  passengers
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

In [7]:
df.year.describe()

count     144.000000
mean     1954.500000
std         3.464102
min      1949.000000
25%      1951.750000
50%      1954.500000
75%      1957.250000
max      1960.000000
Name: year, dtype: float64

In [12]:
df['year'].value_counts()

1960    12
1959    12
1958    12
1957    12
1956    12
1955    12
1954    12
1953    12
1952    12
1951    12
1950    12
1949    12
Name: year, dtype: int64

In [13]:
df['month'].value_counts()

May          12
February     12
April        12
August       12
December     12
July         12
June         12
September    12
October      12
March        12
November     12
January      12
Name: month, dtype: int64

In [18]:
primeras_quince_variables= df.head(15)
print (primeras_quince_variables)

    year      month  passengers
0   1949    January         112
1   1949   February         118
2   1949      March         132
3   1949      April         129
4   1949        May         121
5   1949       June         135
6   1949       July         148
7   1949     August         148
8   1949  September         136
9   1949    October         119
10  1949   November         104
11  1949   December         118
12  1950    January         115
13  1950   February         126
14  1950      March         141

In [19]:
ultimas_quince_variables=df.tail(15)
print (ultimas_quince_variables)

     year      month  passengers
129  1959    October         407
130  1959   November         362
131  1959   December         405
132  1960    January         417
133  1960   February         391
134  1960      March         419
135  1960      April         461
136  1960        May         472
137  1960       June         535
138  1960       July         622
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

In [17]:
pasajeros=df ["passengers"]
print (pasajeros)

0      112
1      118
2      132
3      129
4      121
5      135
6      148
7      148
8      136
9      119
10     104
11     118
12     115
13     126
14     141
15     135
16     125
17     149
18     170
19     170
20     158
21     133
22     114
23     140
24     145
25     150
26     178
27     163
28     172
29     178
      ...
114    491
115    505
116    404
117    359
118    310
119    337
120    360
121    342
122    406
123    396
124    420
125    472
126    548
127    559
128    463
129    407
130    362
131    405
132    417
133    391
134    419
135    461
136    472
137    535
138    622
139    606
140    508
141    461
142    390
143    432
Name: passengers, Length: 144, dtype: int64

In [20]:
pasajeros.mean()

280.2986111111111

In [21]:
pasajeros.median()

265.5

In [22]:
pasajeros.std()

119.96631694294321

In [23]:
primeras_quince_variables.mean()

year          1949.2
passengers     126.8
dtype: float64

In [24]:
primeras_quince_variables.median()

year          1949.0
passengers     126.0
dtype: float64

In [25]:
primeras_quince_variables.std()

year           0.414039
passengers    13.126854
dtype: float64

In [26]:
ultimas_quince_variables.mean()

year          1959.8
passengers     459.2
dtype: float64

In [27]:
ultimas_quince_variables.median()

year          1960.0
passengers     432.0
dtype: float64

In [28]:
ultimas_quince_variables.std()

year           0.414039
passengers    77.936971
dtype: float64

In [ ]:
#se producen grandes variaciones tanto en las ultimas quince observaciones como en las primeras quince.